

#wikimain {
    width: 72%;
    margin: 1%;
    border: 3px solid #73AD21;
	float: right;
	padding: 8px 8px 8px 8px;
	background-color: #C6D79A
}

#sidebar {
    width: 20%;
    margin: 1%;
    border: 3px solid #73AD21;
	float: left;
	padding: 8px 8px 8px 8px;
	background-color: #C6D79A
}


.expand {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
	padding: 10px;
	background-color: #EEEEEE;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
}
.expand:hover {
	background: #EEEEFF;
}
.expandable {
    display:none;
}
.revealed { 
	padding: 10px;
	background-color: #FFFFFF;
	margin: 0;
    border-style: solid;
    border-width: 1px;
}

